@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f7c4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time {
    width: 410px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    border-radius: 6px;
<<<<<<< HEAD
    box-shadow: 0 0 5px 2px #1f619a, 0 0 15px 10px #1f619a,
        0 0 35px 15px #1f619a, 0 0 50px 25px #1f619a;
=======
    box-shadow: 0 0 5px 2px #A1EEBD, 0 0 15px 10px #A1EEBD,
        0 0 35px 15px #A1EEBD, 0 0 100px 15px #A1EEBD;
>>>>>>> 084e8b1 (Updated CSS)
}

.time span.ms-colon,
.time span.millisecond {
    color: #1f509a;
}

.buttons > button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #1f509a;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.09);
}

.buttons > button:hover {
    color: #410590;
}

.buttons {
    padding: 20px;
}

.buttons > button.active {
<<<<<<< HEAD
    background-color: #e8e8e8;
=======
    /* background-color: #7BD3EA; */
>>>>>>> 084e8b1 (Updated CSS)
    cursor: default;
}
